Library
Temp
.vs
obj
*.pidb
*.userprefs
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
